Source: jsignalml
Section: java
Priority: extra
Maintainer: Karol Auguštin <karol@augustin.pl>
Build-Depends: debhelper (>= 8.0.0),
	       maven-debian-helper,
	       maven,
Build-Depends-Indep:
	       antlr3-maven-plugin,
	       libantlr-maven-plugin-java,
	       libmaven-antrun-plugin-java,
	       libmaven-compiler-plugin-java,
	       libmaven-resources-plugin-java,
	       libantlr-java,
	       libcodemodel-java,
	       libcommons-io-java,
	       libcommons-lang3-java,
	       libcommons-math-java,
	       libguava-java,
	       libjaxp1.3-java,
	       libjcommander-java,
	       libjline-java,
	       liblog4j1.2-java,
	       libsurefire-java,
	       libxz-java,
	       testng
Standards-Version: 3.9.2
Vcs-Git: git://git.braintech.pl/jsignalml.git
Vcs-Browser: http://git.braintech.pl/jsignalml.git

Package: libjsignalml-java
Architecture: all
Depends: ${misc:Depends},
	       libantlr-java,
	       libcodemodel-java,
	       libcommons-io-java,
	       libcommons-lang3-java,
	       libcommons-math-java,
	       libguava-java,
	       libjaxp1.3-java,
	       libjcommander-java,
	       libjline-java,
	       liblog4j1.2-java,
	       libsurefire-java,
	       libxz-java,
	       testng
Description: A library implementing the Signalml 2.0 specification.
 XML descriptions of formats are converted to Java source code and then
 compiled to normal bytecode. This package includes the Java JAR which
 can be used by application to implement Signalml.
